@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200&family=Rokkitt:wght@100&family=Space+Grotesk:wght@300&family=Zen+Kaku+Gothic+New:wght@300;400&display=swap');

.farmer {
  filter: invert(96%) sepia(16%) saturate(378%) hue-rotate(4deg) brightness(98%) contrast(88%);
}

.subHeadings {
  padding-left: 400px !important;;
  color: #D77D13 !important;;
}

.container {
  min-height: 100vh !important;;
  padding: 0 0.5rem !important;;
  display: flex !important;;
  flex-direction: column !important;;
  justify-content: center !important;;
  align-items: center !important;;
  height: 100vh !important;;
}

.main {
  padding: 5rem 0 !important;
  /* height: 108px + 1vh; */
  /* height: 108vh !important; */
  flex: 1 !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.header {
  /* width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; */
  /* background: rgb(15, 14, 13) !important; */
  /* background-color: #0c0b0a;
  background-image: linear-gradient(247deg, #0c0b0a 0%, #0f0e0d 100%); */
  /* background: linear-gradient(to bottom, rgb(52, 117, 229), rgb(77, 137, 216)) !important; */
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.h2 {
  font-family: 'Space Grotesk' !important;
  font-weight: 300 !important;
  text-transform: capitalize !important;
  color: rgb(233, 233, 198) !important;
}

.noBounty {
  font-family: 'Space Grotesk' !important;
  font-weight: 300 !important;
  color: rgb(233, 233, 198) !important;
}

.cardTag {
  font-family: 'Space Grotesk' !important;
  font-weight: 300 !important;
  font-size: 15px !important;
  font-style: italic !important;
  color: rgb(233, 233, 198) !important;
  display: flex !important;
  text-align: left !important;
}

.cardInfo {
  font-family: 'Space Grotesk' !important;
  font-weight: 300 !important;
  font-size: 'calc(2000px-1vh)' !important;
  /* text-transform: capitalize; */
  color: rgb(233, 233, 198) !important;
  display: flex !important;
  text-align: left !important;
}

.arweaveHash {
  font-family: 'Space Grotesk' !important;
  font-weight: 300 !important;
  font-size: 18px + 1vw !important;
  text-transform: capitalize !important;
  color: rgb(233, 233, 198) !important;
  display: flex !important;
}

.dialogBody {
  font-family: 'Space Grotesk' !important;
  color: rgb(233, 233, 198) !important;
}

.grid {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-wrap: wrap !important;
  max-width: 800px !important;
  margin-top: 3rem !important;
}

.card {
  margin: 1rem !important;
  padding: 1.5rem !important;
  text-align: left !important;
  color: inherit !important;
  text-decoration: none !important;
  border: 1px solid #eaeaea !important;
  border-radius: 10px !important;
  transition: color 0.15s ease, border-color 0.15s ease !important;
  width: 45% !important;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3 !important;
  border-color: #0070f3 !important;
}

.card h2 {
  margin: 0 0 1rem 0 !important;
  font-size: 1.5rem !important;
}

.card p {
  margin: 0 !important;
  font-size: 1.25rem !important;
  line-height: 1.5 !important;
}

.logo {
  height: 1em !important;
  margin-left: 0.5rem !important;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.background {
  /* height: 108vh !important; */
  z-index: -1 !important;
  min-height: 100vh !important;
  padding-bottom: 12px !important;
  /* flex-grow:1; */
  /* padding-bottom: 12px !important; */
  /* position: 'relative'; */
  /* min-height: 100vh; */
  /* background: rgb(15, 14, 13); */
  /* background: linear-gradient(to bottom, rgb(77, 137, 216), 20%, rgb(250, 239, 188), 90%, green, rgb(87, 44, 33)); */
}

.sunGlow {
  background-color: rgb(252, 239, 192) !important;
  border-radius: 20px !important;
  box-shadow:
    0 0 60px 20px #fff,  /* inner white */
    0 0 100px 60px rgb(251, 185, 64), /* middle magenta */
    0 0 40px 70px rgb(230, 238, 165) !important; /* outer cyan */
}

.headerFont {
  font-family: 'Space Grotesk' !important;
  font-weight: 300 !important;
  text-transform: capitalize !important;
  color:rgb(248, 215, 154) !important;
}

.alertFont {
  font-family: 'Space Grotesk' !important;
  font-weight: 300 !important;
  /* color:rgb(23, 21, 20) !important; */
}

.headerFontDropdown {
  font-family: 'Space Grotesk' !important;
  font-weight: 300 !important;
  text-transform: capitalize !important;
  color:rgb(15, 14, 13) !important;
}

.accordionBackground {
  background-color: rgb(11, 11, 9) !important;
  box-shadow: 0px 0px 3px rgb(248, 215, 154) !important;
}

.cardBackground {
  /* background-color: rgb(23, 21, 20) !important; */
  background-color: rgb(15, 14, 13) !important;
}

.formHeader {
  font-family: 'Space Grotesk' !important;
  font-weight: 300 !important;
  text-transform: capitalize !important;
  color: rgb(233, 233, 198) !important;
  background-color: rgb(15, 14, 13) !important;
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
}

.formFooter {
  font-family: 'Space Grotesk' !important;
  font-weight: 300 !important;
  text-transform: capitalize !important;
  color: rgb(233, 233, 198) !important;
  background-color: rgb(15, 14, 13) !important;
  border-bottom-left-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
}

.grass {
  background-color: #ADD37F !important;
}

.sky {
  background-color: #8FC9F7 !important;
}

.backgroundWrap {
  /* bottom: 0;
  left: 0;
  padding-top: 50px;
  position: fixed;
  right: 0;
  */
  padding-top: 50px !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  position: fixed !important;
}

/* KEYFRAMES

@-webkit-keyframes animateCloud {
  0% {
      margin-left: -1000px;
  }
  100% {
      margin-left: 100%;
  }
}

@-moz-keyframes animateCloud {
  0% {
      margin-left: -1000px;
  }
  100% {
      margin-left: 100%;
  }
}

@keyframes animateCloud {
  0% {
      margin-left: -1000px;
  }
  100% {
      margin-left: 100%;
  }
}

/* ANIMATIONS */

/* .x1 {
  -webkit-animation: animateCloud 35s linear infinite;
  -moz-animation: animateCloud 35s linear infinite;
  animation: animateCloud 35s linear infinite;

  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  transform: scale(0.65);
}

.x2 {
  -webkit-animation: animateCloud 20s linear infinite;
  -moz-animation: animateCloud 20s linear infinite;
  animation: animateCloud 20s linear infinite;

  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.x3 {
  -webkit-animation: animateCloud 30s linear infinite;
  -moz-animation: animateCloud 30s linear infinite;
  animation: animateCloud 30s linear infinite;

  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.x4 {
  -webkit-animation: animateCloud 18s linear infinite;
  -moz-animation: animateCloud 18s linear infinite;
  animation: animateCloud 18s linear infinite;

  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x5 {
  -webkit-animation: animateCloud 25s linear infinite;
  -moz-animation: animateCloud 25s linear infinite;
  animation: animateCloud 25s linear infinite;

  -webkit-transform: scale(0.55);
  -moz-transform: scale(0.55);
  transform: scale(0.55);
} */

/* OBJECTS */

/* .cloud {
  background: #fff;
  background: -moz-linear-gradient(to bottom,  #fff 5%, #f1f1f1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
  background: -webkit-linear-gradient(to bottom,  #fff 5%,#f1f1f1 100%);
  background: -o-linear-gradient(to bottom,  #fff 5%,#f1f1f1 100%);
  background: -ms-linear-gradient(to bottom,  #fff 5%,#f1f1f1 100%);
  background: linear-gradient(to bottom,  #fff 5%,#f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );

  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;

  -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

  height: 120px;
  position: relative;
  width: 350px;
}

.cloud:after, .cloud:before {
  background: #fff;
  content: '';
  position: absolute;
  z-indeX: -1;
}

.cloud:after {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;

  height: 100px;
  left: 50px;
  top: -50px;
  width: 100px;
}

.cloud:before {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;

  width: 180px;
  height: 180px;
  right: 50px;
  top: -90px;
} */